{{>_nav}}
{{>_bbchain}}
<div class="container mt-4 mb-4">
  <nav class="mt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="/config/{{ramo}}/{{evento}}"><i class="ri-arrow-go-back-line"></i> Voltar</a></li>
    <li class="breadcrumb-item active" aria-current="page"><i class="ri-layout-3-fill"></i>: Editando: {{tela}}</li>
    </ol>
  </nav>
  {{>_msg}}
  <div class="bg-white rounded p-2 border" id="build-wrap"></div>
  <div class="row">
    <div class="col-md-8">
      <div class="bg-white p-2 rounded border render-wrap"></div>
    </div>
    <div class="col-md-4">
      <div id="edit-form" class="bg-white p-2 rounded border">
        <form method="POST" action="/edit/screen">
        <h5 id="title-form">Editar tela: {{tela}} </h5>
        <input type="hidden" name="ramo" value="{{ramo}}"/>
        <input type="hidden" name="evento" value="{{evento}}"/>
        <input type="hidden" name="tela" value="{{tela}}"/>
        <input type="hidden" id="jsonConfig" name="dados">
        <input type="hidden" id="json-data" value="{{jsonData}}"/>
        <button type="submit" class="btn btn-primary mb-3 form-control" id="save-form">
        <i class="ri-save-3-line align-middle"></i> Salvar
        </button>
        <div class="row mb-3">
          <div class="col-md-6 mt-2">
            <button type="button" class="btn btn-dark form-control" id="edit-form-builder">
            <i class="ri-edit-line align-middle"></i> Editar Formulário
            </button>
          </div>
          <div class="col-md-6 mt-2">
            <a class="btn btn-danger form-control" href="/config/{{ramo}}/{{evento}}"><i class="ri-close-circle-line align-middle"></i> Cancelar</a>
          </div>
        </div>
        </form>
        <span class="text-muted">Verifique a nova configuração antes de finalizar a edição da tela.</span>
      </div>
    </div>
  </div>
</div>
{{>_script}}
{{>_scriptFormBuilderEdit}}
