{{>_nav}}
{{>_bbchain}}
<div class="container mt-4 mb-4">
  <div class="div-center">
    <h1 class="mt-4">Etapas</h1>
    <div class="rounded bg-white p-2">
      <form method="POST" action="/create/phase">
        <label>Adicionar etapa:</label>
        <div class="input-group mb-3">
          <input type="hidden" name="setting" value="{{setting.id}}" />
          <input class="form-control" type="text" placeholder="Nome da etapa: " name="name" required />
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Adicionar</button>
        </div>
      </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Telas</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          {{#each phases}}
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td class="d-grid">
              <a class="btn btn-secondary" href="/phase/{{id}}">Telas</a>
            </td>
        </tr>
        </tbody>
          {{else}}
            <h6 class="text-danger">Nenhuma etapa criada</h6>
          {{/each}}
      </table>
    </div>
  </div>
</div>
