{{>_nav}}
{{>_bbchain}}
  <h1 class="m-2 mt-4">
    <i class="ri-shield-check-line align-middle"></i>
    Regulação
  </h1>
  <div class="bg-white shadow-sm rounded p-2 m-2">
    <div class="table-responsive">
        <table class="table table-sm">  <thead>
        <tr>
            <th scope="col">Ramo</th>
            <th scope="col">Evento</th>
            <th scope="col">Número Sinistro</th>
            <th scope="col">Dados</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{ramo}}</td>
            <td>{{evento}}</td>
            <td>{{num_sinistro}}</td>
            <td> 
                {{#each dados}}
                  <div class="form-group">
                    <label for="{{label}}">{{label}}: </label>
                    {{value}}
                    {{#each values}} 
                      {{value}}
                    {{/each}}
                  </div>
                  <hr>
                {{else}}
                  <h6 class="text-danger">Nenhum dado configurado.</h6>
                {{/each}}
            </td>
            <td>
                <button
                class="dropdown-toggle btn"
                href="#"
                data-bs-toggle="dropdown"
                >
                <i class="ri-settings-3-line"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="/regulation/{{num_sinistro}}"><i
                        class="ri-eye-line align-middle"
                    ></i>
                    Visualizar</a>
                </li>
            </ul>
        </td>
        </tr>
        </tbody>
        {{else}}
          <h6 class="text-danger">Nenhuma tela criada</h6>
        {{/each}}
        </table>
    </div>
</div>