{{>_nav}}
{{>_bbchain}}
<div class="container mt-4 mb-4">
    <div class="div-center">
      <h1 class="mb-3 align-middle">
        <i class="ri-eye-line align-middle"></i>
        Visualizando processo: {{id}}
      </h1>
    <div class="rounded shadow-sm p-3 bg-light">
      <div class="accordion accordion-flush" id="accordionFlushExample">
          {{#each data}}
          <div class="accordion-item rounded">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
              class="accordion-button collapsed btn-link "
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#s{{tela.[6]}}"
              aria-expanded="false"
              aria-controls="s{{tela.[6]}}">
                {{tela}}
              </button>
            </h2>
            <div
            id="s{{tela.[6]}}"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#s{{tela.[6]}}">
              <div class="accordion-body">
                <input type="text" id="jsonForm" value="{{dados}}" />
                <form id="fb-render"></form>
                <a class="btn btn-primary" href="#">Editar dados da tela</a>
              </div>
          </div>
          <hr class="m-0">
          {{else}}
            <h6 class="text-danger">Nenhuma tela encontrada.</h6>
          {{/each}}
        </div>
    </div>
  </div>
</div>