{{>_nav}}
{{>_bbchain}}
<div class="container mt-4 mb-4">
  <div class="div-center">
    <div class="rounded bg-white p-2">
        <h1>Configuração</h1>
        <hr>
        <h6>Ramo: {{ramo}}</h6>
        <h6>Evento: {{evento}}</h6>
        <hr>
        <table class="table table-sm table-hover border">
            <thead class="bg-dark text-white">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Ação</th>
              </tr>
            </thead>
          <tr>
              {{#each data}}
                <td class="align-middle">{{@index}}</td>
                <td class="align-middle">{{tela}}</td>
                <td class="align-middle"><a class="text-primary" href="#">Visualizar</a></td>
          </tr>
          {{else}}
            <span class="text-danger">Não encontramos nenhuma tela por aqui.</span>
          {{/each}}
        </table>
    </div>
  </div>
</div>
